{% extends "base.html" %}
{% block content %}


      <p>RippleDeals is a marketplace where you buy on credit
      granted by people who trust you. Or you sell on credit, which
      is guaranteed by people you trust. Credit is used in a
      person-to-person <a href="/creditpath">credit path</a> which can be many people
      long.</p><!--
        <p>Instead of letting the banking system determine your credit, you trust the people in your life w
	   ho have earned it.</p>-->

      <p>Since RippleDeals doesn't depend on the banking system,
      you can do deals without using credit cards, writing a check,
      or handling cash.</p>

      <p>You also have a simple way to start doing business in
      emerging currencies such as community currencies and digital
      gold, or even online gaming currencies. Of course, dollars,
      euro, and other mainstream national currencies are fine
      too.</p><!--


      <p>Since credit flows along a trust chain, where each link has a high degree of confidence in the next,
	scams that are common in other online marketplaces simply won't work here. </p>
      -->

      <p>RippleDeals is free.</p>


    {% include "dealsearch.html" %}

{% endblock %}




{% block footer %}
    <!-- users: {{ num_users }}<br>
    accounts: {{ num_accounts }}<br>
    payments: {{ num_payments }}<br> -->
{% endblock %}
