{% extends "base.html" %}
{% block title %}{{SERVICE_NAME|escape}} - Registration Successful{% endblock %}
{% block content %}
<h3>Registration Successful</h3>
<p>A confirmation email has been sent to your email address.  Follow the 
instructions to activate your registration.  If you do not receive your
confirmation email, <a href='/contact/'>please contact us.</a></p>
<p>If you are using an email service like Hotmail or Yahoo Mail, 
and can't find your confirmation email, try looking in your spam folder.</p>
{% endblock %}
