<div id="dealform">
  <form method="post" action="/market/searchads" style="margin: 0pt;">
    <table class="dealform">
     <tbody>
	<tr>
	  <td>From <input class="logtxt" value="santa clara, usa" name="deal_category" maxlength="20" type="text"></td>
	  <td>To <input class="logtxt" value="mumbai, india" name="location" maxlength="100" type="text"></td>
	</tr>
	<tr>
	  <td style="float: left;">
	    <button class="btn" name="btn" type="submit" value="searchwanted">find remittance operators</button>
          </td>
	</tr>
      </tbody>
    </table>
  </form>
</div>

<div id="suggestions">
  <h3>Ripple Remittance Operator Locations: </h3>
  <p>brooklyn | prenzlauerberg | 10364, de | germany | 10437,
  berlin | greenpoint, brooklyn<br>
  santa monica | helsinki | mexico city | bocas del toro,
  panama | miracle mile, los angeles<br>
  pacific time | north america | santa clara, usa | mumbai, india <br>
  <a href="location">more locations</a></p>
</div>
<br>

