{% extends "base.html" %}
{% block title %}{{ SERVICE_NAME }} - Marketplace{% endblock %}
{% block content %}
    <h3>{{ ad.title }}</h3>

    {% include "info.html" %}

    <p style="font-size:smaller;"><i>Posted by {{ ad.user.name }}
	on {{ ad.posted_date|date:"d M Y"}}.</i></p>
    <p class="ad-text">{{ ad.text }}</p>


    {% ifequal userNode None %}
        <a href="/login?redirect={{request.path}}">Contact poster about this ad</a>
    {% else %}
        
	{% ifnotequal userNode ad.user %}
	    <h4>Contact poster about this ad</h4>
	    <form action="." method="post">
	    <textarea name="body" style="width:500px; height:80px;">{{ values.body }}</textarea>
	    <p><input class="button" type="submit" value="Send" /></p>
	    </form>

	    <p><a href="/payUser/{{ ad.user.id }}/">Pay seller</a></p>
	{% else %}
	    <h4>Edit your ad ad</h4>
	    <!-- <form action="." method="post">
	    <textarea name="body" style="width:500px; height:80px;">{{ values.body }}</textarea>
	    <p><input class="button" type="submit" value="Send" /></p>
	    </form> -->

	    {# link to remove this ad #}
	{% endifnotequal %}
    {% endifequal %}



    <!-- <p><a href="../">Return to marketplace main page</a></p> -->
{% endblock %}
